.item {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  min-width: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  gap: 20px;
  transition: all 150ms ease-in;
}

.item:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.status {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.avatar {
  background-color: #CCCCCC;
  padding: 5px;
  border-radius: 5px;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 500;
}